<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/clear-sky.png">
    <link rel="stylesheet" href="./css/style.css"> 

</head>

<body>
    <div class="main_content">
        {{>headers}}

        <p>{{errorMessage}}</p>

    </div>
    
    {{>footers}}
</body>

</html>