{{!-- <h1>{{title}}</h1>

{{! Here we use navigation bars with links that allows you to switch between the pages on the site}}

{{! This links will be present on all the pages for navigation}}
<div>
    <a href="/">Weather</a> {{!root site}}
    <a href="/about">About</a>
    <a href="/help">Help</a>

</div> --}}


<header>
    <h1>{{title}}</h1>

    <a href="/">Weather</a> {{!root site}}
    <a href="/about">About</a>
    <a href="/help">Help</a>


</header>
